* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

li 
{
    list-style: none;
}


.navbar 
{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #13274E;
    color: #fff;
    width: 100%;
}
   
.nav-links a 
{
    color: #fff;
}

#navButton
{
    border: 1px solid white;
    padding: 8 25px;
    border-radius: 10px;
}

.logo 
{
   position: relative;
   top: 10px;
   width: 50px;
   height: 50px;
   scale: 1.6;
   margin-left: 10px;
   background-image: url('/constants/images/Logo.png');
   background-size: contain;
   background-repeat: no-repeat;
}

.menu {
    display: flex;
    gap: 0.1em;
    font-size: 16px;
}
.menu li {
    padding: 2px 14px;
}

#addCourseModal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */  
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30 20px;
    border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%; 
    height: 30%;
    align-items: center;
    
  }

  #createClassModal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */  
}

.class-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30 20px;
    border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%; 
    height: 40%;
    align-items: center;
    
  }

#createAssignmentModal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */  
}

  .assignment-modal-content
  {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 30 20px;
    border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%; 
    height: 72%;
    align-items: center;
  }

  input
{
    width: 50%; 
    height: 35px; 
    border-radius: 10px; 
    border-width: 3px; 
    border-color: gray;
    font-size: 19px;
    padding: 0 10;
}

textarea
{
    border-radius: 10px; 
    border-width: 3px; 
    border-color: gray;
    font-size: 19px;
    padding: 0 10;
}


#classes
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.class
{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 15px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: start;
    width: 250px;
    flex-wrap: wrap;
}

.class h2
{
    font-weight:540;
    color: #2F76E5;
    margin-bottom:5px;
}

.class p
{
   font-size: 13px;
}

.addEnroll
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 15px;
    margin-right: 30px;
    text-align: center;
    width: 250px;
    margin-top: 20px;
    cursor: pointer;
}

.addEnroll h2
{
    font-weight:549;
    color: #2F76E5;
    margin-bottom:5px;
    cursor: pointer;
}


#assignmentHolder
{
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header div
{
    width: 200px;
}

#header h5
{
    margin-right: 10px;
}

#classNameArrow
{
    cursor: pointer;
}

#dueDateArrow
{
    cursor: pointer;
}

.assignmentElem
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    padding: 20px 0px;
    border-bottom: 1px solid lightgray;
}

.assignmentElem p 
{
    color: gray;
    width: 200px;
    font-size: 14px;
   
}